{
    "singleQuote": true,
    "semi": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "proseWrap": "never",
    "endOfLine": "lf",
    "printWidth": 500,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false
}
